<button (click)='OnEdit()'>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</button>
<button (click)='OnDelete()'>
    <i class="fa fa-times" aria-hidden="true"></i>
</button>
<div class="image">
    <img src="{{shop.imageUrl}}" alt="coffee">
</div>
<div class="content">
    <h3 class="name">
        {{ shop.name }}
    </h3>
    <i class="price">
         Price: {{ shop.price }}
    </i>
    <p class="description">
        <!--<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iure sequi ipsa voluptatum provident, magnam dolorum optio assumenda incidunt a quam culpa vel, sunt nisi perferendis cupiditate magni nulla sed.</span><span>Rem fugit reprehenderit magni temporibus rerum nisi, molestias dolores reiciendis illo vel at nemo! Debitis accusamus iusto consectetur earum culpa! Architecto aliquam adipisci tenetur corporis quis consectetur inventore natus facilis.</span>-->
    </p>
</div>