<div class="list-container container">
	<nav class="navigation-block row">
		<div class="col-md-12">
			<div class="sorting">
				<p class="sorting-text">
					Sorting by:
				</p>
				<button (click)='SortByPrice()' class="sorting-button btn btn-default">
					<i class="fa" [ngClass]="{ 'fa-arrow-up' : sortPriceUp, 'fa-arrow-down' : !sortPriceUp }" aria-hidden="true"></i>
					Price
				</button>
					
				<button (click)='SortByName()' class="sorting-button btn btn-default">
					<i class="fa" [ngClass]="{ 'fa-arrow-up' : sortNameUp, 'fa-arrow-down' : !sortNameUp }" aria-hidden="true"></i>
					Name
				</button>
				<button (click)="AddItem()" class="btn btn-default">
					<i class="fa fa-plus" aria-hidden="true"></i>
					Add new item
				</button>
			</div>
		</div>
	</nav>

	<section class="row">
		<div class="col-md-12">
			<shop-item class="col-md-3 col-sm-6 col-xs-6" *ngFor='let shop of shops' [shop]='shop' (edit)='EditItem(shop)' (delete)='DeleteItem(shop)'></shop-item>
		</div>
	</section>
</div>

