.list-container {
    margin-bottom: 25px;
    

    .navigation-block {
        text-align: left;
        margin-bottom: 25px;
        padding: 0 15px;

        .sorting {
        
            .sorting-text {
                display: inline-block;
                font-size: 18px;
                margin-right: 10px;            
            }   
        }
    }
}